.product-container {
    height: 100%;
    /* border: 2px solid;  */
  }


  @media (max-width: 1024px) {
    .product-container {
        /* border: 2px solid; */
      height: 85vh; /* Reduced height for mobile screens */
    }
    
  }

  
  @media (max-width: 768px) {
    .product-container {
        /* border: 2px solid; */
      height: 85vh; /* Reduced height for mobile screens */
    }
    
  }

  @media (max-width: 700px) {
    .product-container {
        /* border: 2px solid; */
      height: 87vh; /* Reduced height for mobile screens */
    }
    
  }


  @media (max-width: 576px) {
    .product-container {
        /* border: 2px solid; */
      height: 65vh; /* Reduced height for mobile screens */
    }
    
  }


  @media (max-width: 431px) {
    .product-container {
        /* border: 2px solid; */
      height: 33vh; /* Reduced height for mobile screens */
    }
  
  }


  @media (max-width: 414px) {
    .product-container {
        /* border: 2px solid; */
      height: 60%; /* Reduced height for mobile screens */
    }
  
  }
  
  

  @media (max-width: 426px) {
    .product-container {
        /* border: 2px solid; */
      overflow-y: hidden;

      height: 50vh; /* Reduced height for mobile screens */
    }
    
  }
  

  @media (max-width: 390px) {
    .product-container {
        /* border: 5px solid; */
      overflow-y: hidden;

      height: 36vh; /* Reduced height for mobile screens */
    }
    
  }

  @media (max-width: 320px) {
    .product-container {
      overflow-y: hidden;
      margin-bottom: -5px;
      height: 40vh; /* Reduced height for mobile screens */
    }
    
  }
  
  /* .Defaultimage */